.navbar {
  margin: 1.75rem auto 2.1rem auto;
  max-width: 70.3rem;
  padding: 0 1rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

.nav-leftpart {
  display: flex;
  align-items: flex-end;
}

.nav-links {
  display: flex;
}
.nav-rightpart {
  display: flex;
  align-items: center;
}

.navbar .logo {
  height: 1.25rem;
  margin-right: 3.5rem;
}
.navbar .icon-cart {
  height: 1.25rem;
}

.navbar .avatar {
  height: 3.1rem;
  margin-left: 2.8rem;
}
.navbar li {
  font-weight: var(--fontweight-thin);
  font-size: 0.9rem;
  color: var(--color-neutral-darkgrayishblue);
  margin-right: 2rem;
}

.icon-menu {
  display: none;
}

.hide {
  visibility: hidden;
}

.hz-line {
  height: 1px;
  max-width: 69.3rem;
  color: #e4e9f2;
  margin-top: 2.1rem;
  margin-bottom: 5.6rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 1.25rem 1.5rem 1.8rem 1.5rem;
    padding: 0;
  }

  .mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 0%, 75%);
    z-index: 1;
  }

  .icon-menu {
    margin-right: 1rem;
    height: 0.9rem;
    display: flex;
  }

  .icon-close {
    height: 0.8rem;
    margin-top: 2.4rem;
    margin-bottom: 3.3rem;
  }

  .nav-leftpart-column {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 15.6rem;
    padding-left: 1.5rem;
    z-index: 2;
    background-color: white;
  }

  .nav-links-hide {
    display: none;
  }

  .nav-links-show {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .nav-links-show li {
    font-size: 1.1rem;
    font-weight: var(--fontweight-bold);
    color: var(--color-neutral-verydarkblue);
  }

  .hz-line-hide {
    display: none;
  }
}
