:root {
  /* Colors */
  --color-primary-orange: rgb(255, 125, 26);
  --color-primary-paleorange: rgb(255, 237, 224);
  --color-neutral-verydarkblue: rgb(29, 32, 37);
  --color-neutral-darkgrayishblue: #69707d;
  --color-neutral-grayishblue: #b6bcc8;
  --color-neutral-lightgrayishblue: #f7f8fd;
  --color-neutral-white: rgb(255, 255, 255);
  --color-neutral-black: rgb(0, 0, 0);

  /* Font weight */
  --fontweight-thin: 400;
  --fontweight-bold: 700;
}

.hide-overflow {
  overflow: hidden;
}
